body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/rockPaperScissors/wallpapper.jpg");
    background-size: cover;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex div {
    padding: 1rem 3rem;
    margin-bottom: 1rem;
}

.flex img {
    height: 200px;
    width: 200px;
    transition: all 500ms;
}

h3, #textOutput, #displays p {
    text-align: center;
}

#selection img:hover {
    transform: scale(1.1);
}